{% extends 'base.html' %}

{% block content %}
<h1>Register</h1>
<p class="mb-4">Already had an account? <a href="{{ url_for('login') }}">Log in</a></p>

<form method="post">
  <!-- Username -->
  <div class="my-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" minlength="4" maxlength="30" required>
  </div>

  <!-- Email -->
  <div class="my-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" minlength="4" maxlength="256" required>
  </div>

  <!-- Password -->
  <div class="my-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" minlength="8" maxlength="30" required>
  </div>

  <!-- Confirm password -->
  <div class="my-3">
    <label for="password" class="form-label">Confirm password</label>
    <input type="password" class="form-control" name="password1" minlength="8" maxlength="30" required>
  </div>

  {% if errors %}
    {% for error in errors %}
      <p style="color: var(--bs-danger);">{{ error }}</p>
    {% endfor %}
  {% endif %}

  <button type="submit" class="btn btn-primary mt-1">Register</button>
</form>
{% endblock %}